@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

label {
  font-size: 10px;
  display: inline;
}

.text-Input {
  width: 100px;
  height: 20px;
  padding: 2px;
}

.container {
  max-width: 900px;
  margin: 25px auto;
  min-height: 300px;
  border: 2px solid;
  padding: 25px;
  border-radius: 10px;
  font-size: 10px;
}
